<section class="section" id="keynotes">
  <div class="container">
    <div class="row">
      <h3>Palestrantes</h3>
    </div>
    <div class="row">

      <!-- ANNANDA -->
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/annanda.jpg" />
        <h4>Annanda Sousa</h4>
          <p>
            Annanda Sousa é estudante de Ciência da Computação na UFRJ, co-fundadora do Pyladies Rio e organizadora de eventos Django Girls. Ela tem interesse em data science, processamento de linguagem natural e processamento de imagens, além de ser apaixonada por matemática. Nas horas vagas, ama ler e é mãe de um gatinho fofo chamado Shinta.
          </p>
      </div>

      <!-- Bruno Rocha -->
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/bruno.jpg" />
        <h4>Bruno Rocha</h4>
          <p>
            Herbívoro,  Animalista, Bicicleteiro, Pythonista (uma filosofia de vida além de programar em Python), Membro da Python Software Foundation, Professor no <a href="http://CursoDePython.com.br">http://CursoDePython.com.br</a>, Podcaster no <a href="http://castalio.info">http://castalio.info</a>, Autor de 1 livro, Palestrante, Desenvolvedor e contribuidor de alguns projetos de código aberto e nas horas vagas também é Artista de Software no time de Engenharia de Qualidade da Red Hat.
            <br>
            Site: <a href="http://brunorocha.org">http://brunorocha.org</a>
          </p>
      </div>

      <!-- daniela -->
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/daniela.jpg" />
        <h4>Daniela Vieira</h4>
          <p>
            Formada em engenharia da computação, atua na área de tecnologia desde 2004, com background técnico de desenvolvimento de software. Trabalhou em consultorias que desenvolvia sistemas para clientes como IG, UOL e teve a oportunidade de planejar a área de qualidade de software, por uma demanda dos clientes da consultoria. Também trabalhou no Grupo Abril e atualmente é Coordenadora de Qualidade de Software do Walmart.com.
            <br>
            Twitter: <a href="https://twitter.com/danivieira">@danivieira</a>
          </p>
      </div>

    </div>

    <div class="row">

      <!-- Bastos -->
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/bastos.jpg" />
        <h4>Henrique Bastos</h4>
          <p>
            Henrique Bastos empreende e investe em negócios que promovem a autonomia das pessoas. É fundador do Welcome to the Django, um treinamento que já ajudou mais de 3000 pessoas a dominarem a arte do desenvolvimento eficaz. Palestra em eventos, empresas e universidades, além de ser membro da Python Software Foundation, da Django Software Foundation e diretor da Associação Python Brasil.
            <br>
            Site: <a href="http://henriquebastos.net/me/">http://henriquebastos.net/me/</a>
          </p>
      </div>

      <!-- Mariana -->
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/mioto.jpg" />
        <h4>Mariana Mioto</h4>
          <p>
            Bacharel em Informática Biomédica, pela USP de Ribeirão Preto. Programadora, ama processamento de imagens e por caminhos da vida fez disso seu mestrado e trabalho. Por caminhos da alma é pylady, professora, ativista e por isso inventa tempo e junta esforços pra distribuir amor, repassando todo o conhecimento aprendido, com as comunidades que se enfia, através e mini-cursos, oficinas e palestras.
          </p>
      </div>
      
      <!-- Renato oliveira -->
      <div class="col col-xs-12 col-sm-4">
        <img src="/static/images/renato.jpg" />
        <h4>Renato Oliveira</h4>
          <p>
            Co-fundador da Labcodes Software Studio, empresa de desenvolvimento de produtos digitais e membro da Django Software Foundation. Apaixonado por comunidades e por software livre. Acha que é ciclista e nadador e é viciado em café.
            <br>
            Site: <a href="http://labcodes.com.br">http://labcodes.com.br</a>
            <br>
            Twiter: <a href="https://twitter.com/_renatooliveira">@_renatooliveira</a>
          </p>
      </div>
    </div>
  </div>
</section>
