<section id="coc" class="shortcall">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-4 col-md-2">
        <a href="https://github.com/pythonbrasil/codigo-de-conduta">Código de Conduta</a>
        <a target="" href="http://2016.caipyra.python.org.br/">Site 2016</a>
      </div>
      <div class="col col-xs-12 col-sm-8 col-md-10">
        <p>
          O Caipyra é um evento inspirado na <b>Python Brasil</b> (maior evento Python da América Latina) e visa, sem
          fins lucrativos, disseminar conhecimento sobre diversas áreas da tecnologia.
        </p>
        <p>
          Como o próprio nome já diz, somos um evento <b>focado em Python</b>, porém aberto
          a diversas tecnologias que são trazidas e abordadas pelos nossos ilustres convidados.
        </p>
      </div>
    </div>
  </div>
</section>
