<section id="tickets" class="shortcall">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-8">

      </div>
      <div class="col col-xs-12">

        <h4>Garanta já seu ingresso</h4>
          <p>
            Então separe sua camisa xadrez e sua calça rasgada, tire o chapéu de palha do armário, e prepare-se para muito python e paçoquinha.
          </p>
        </div>
      </div>
      <div style="width:100%; text-align:left;"><iframe src="//eventbrite.com.br/tickets-external?eid=32504271150&ref=etckt" frameborder="0" height="400pxmin-height:400px;" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" >
    </div>
  </div>
</section>
