  
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-md-4">
          <br>
        
          <p>
            <a href="https://github.com/grupyrp"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
          </p>
           
           <p>
            <a href="https://www.facebook.com/grupyrp"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
           </p>

           <p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc0285nNhhXwEzZ1XBS4veUotJo23inIccCq-UuaCpJOlpURA/viewform?usp=sf_link"><i class="fa fa-envelope" aria-hidden="true"></i> Fale Conosco</a>
          </p>
          
        </div>
        <div class="col col-xs-12 col-md-4">
          <br>
        
          <p>
            <a target="_blank" href="https://github.com/pythonbrasil/codigo-de-conduta#readme"><i class="fa fa-file-text" aria-hidden="true"></i> CDC</a>
          </p>
           
           <p>
            <a href="https://www.eventbrite.com.br/e/caipyra-2017-tickets-32504271150"><i class="fa fa-ticket" aria-hidden="true"></i> Ingressos</a>
           </p>

           <p>
            <a target="_blank" href="https://www.youtube.com/watch?v=-FDJjk-suAg&list=PLBjt_SB_zYpEQrxVKl3GYYKyl_qc8vR58"><i class="fa fa-youtube" aria-hidden="true"></i> Palestras</a>
          </p>
        </div>
        <div class="col col-xs-12 col-md-4">
          <span class='footer-image'>
          </span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <span class="below"><i class="fa fa-slack" aria-hidden="true"></i> Grupo de Usuários Python de Ribeirão Preto (GrUPy-RP) 2017</span>
      </div>
    </div>
  </footer>
  <script src="static/js/main.min.js"></script>
</body>
</html>
