<section id="organization">
  <div class="container">
    <div class="row">
      <h3>Organizadores</h3>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-sm-4">
        <h4>José Guilherme Tavares</h4>
        <h4>Danilo Martins</h4>
        <h4>Danilo Shiga</h4>
        <h4>Guilherme Diego</h4>
      </div>
      <div class="col col-xs-12 col-sm-4">
        <h4>Jessica Temporal</h4>
        <h4>Leonardo Berdu</h4>
        <h4>José Costa Martins</h4>
        <h4>Júlia Carmona</h4>
      </div>
      <div class="col col-xs-12 col-sm-4">
        <h4>Marco Rougeth</h4>
        <h4>Sérgio Oliveira</h4>
        <h4>Letícia Portella</h4>
        <h4>Paula Santos</h4>
      </div>
    </div>
  </div>
</section>
