<section id="sponsors">
  <div class="container">
    <div class="row">
      <h3>Patrocinadores</h3>
      <p>
      	<img src="https://wiki.python.org/psf/PSF%20Logos?action=AttachFile&do=get&target=psf-logo-372x84-alpha.png">	
      </p>
    </div>
  </div>
</section>
