<section id="sponsors">
  <div class="container">
    <div class="row">
      <h3>Patrocinadores</h3>
      <p>
      	<img src="https://wiki.python.org/psf/PSF%20Logos?action=AttachFile&do=get&target=psf-logo-372x84-alpha.png">	
      </p>

      <p>
        <img src="/static/images/pub.png" />
        <img src="/static/images/iclinic.png" />
      </p>

    </div>
    </div>
</section>
<section id="sponsors">
  <div class="container">
    <div class="row">
      <h3>Apoio</h3>
      <p>
      	<img src="/static/images/estacio.png" />
      </p>
    </div>
  </div>
</section>
<section id="sponsors">
  <div class="container">
    <div class="row">
      <h3>Realização</h3>
      <p>
      	<img class="grupy" src="/static/images/grupyrp.png" />
      	<img src="/static/images/pyladies.png" />
      </p>
    </div>
  </div>
</section>
