<section class="section" id="talks">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-6">
        <h3>Palestras <small>24/06 e 25/06</small></h3>
          <p>
            Nos dias 24 e 25 de junho acontecerão as palestras do <b>Caipyra 2017</b>.
          </p>
          <p>
            Já temos alguns palestrantes convidados com presenças confirmadas:
            <b>Annanda Sousa</b>, <b>Daniela Viera</b> e <b>Henrique Bastos</b>.
          </p>
          <p>
            E como o evento é feito para a comunidade Python o <b>Caipyra</b> abrirá
            espaço para qualquer pessoa submeter sua palestra para uma votação aberta
            pelo SpeakerFight.
          </p>
          <p>
            Além das palestras tradicionais, durante o evento irão ocorrer <b>Lightning talks</b>,
            onde qualquer pessoa presente pode fazer uma apresentação curta, de 5 minutos,
            sobre o tema que quiser: desde um projeto até uma rima, nesses 5 minutos só
            não vale quebrar o código de conduta.
          </p>
          <br>
          <a target="_blank" href="http://speakerfight.com/events/caipyra-2017/">SpeakerFight</a>
      </div>
    </div>
  </div>
  <div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.590191278791!2d-47.78511528451129!3d-21.208432685901265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f11c7e7beeb09b4!2zRXN0w6FjaW8!5e0!3m2!1spt-PT!2sbr!4v1486684435404" frameborder="0" style="border:0;pointer-events:none" allowfullscreen></iframe>
  </div>
</section>
