<section class="section" id="tutorial">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 col-sm-offset-6 col-sm-6">
        <h3>Django Girls <small>23/06</small></h3>
          <p>
            <b>Django Girls</b> é uma iniciativa internacional que busca aumentar a diversidade no mundo da tecnologia ensinando mulheres programação num workshop de um dia.
          </p>
          <p>
            Neste workshop, uma turma de 30 mulheres com ajuda de suas treinadoras irão aprender a construir e fazer o deploy de uma aplicação web usando HTML, CSS, Python e Django.
          </p>
          <br>
          <a target="_blank" href="https://djangogirls.org/ribeiraopreto/apply/">Inscrições aqui</a>
          <br>
          <br>
          <a target="_blank" href="https://djangogirls.org/ribeiraopreto/">Sobre o Django Girls</a>
          <br>
          <br>
          <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfpEWMSCUa4HCPsup7WVaiROXdE8vlVgzGy4anmPiLI2yL_nw/viewform?c=0&w=1">Quero ser um Treinador</a>

      </div>
    </div>
  </div>
  <div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1860.3142939588854!2d-47.8516093!3d-21.1671742!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xefcc4fc659398430!2sUSP+-+Centro+de+Tecnologia+da+Informa%C3%A7%C3%A3o+de+Ribeir%C3%A3o+Preto!5e0!3m2!1spt-PT!2sbr!4v1486685649288" width="600" height="450" frameborder="0" style="border:0;pointer-events:none" allowfullscreen></iframe>
  </div>
</section>
